.contador{
  min-width: 300px;
  height: 300px;
  font-size: 160px;
  font-family: Amsiprocod;
  padding: 25px;
  color: #3E2211;
  /*paracentrarelcontenido*/display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid #3E2211;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-border-radius: 50px;
}
