*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*le decimos a css, como queremos los bordes de las cajas*/   
}

html, body{
  background-color: #f2e858;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /*las 2 prop anteriores hacen que el logo se centre horizontal y verticalmente*/
  padding-top: 15px;
}

.tolas-logo-contenedor{
  /*width: 500px;*/
  height: 650px;
  display: flex;
  margin: 20px;
}